In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('../submit/0928_submit_2.csv',header=None)

In [17]:
df

           0              1
0      31471  128888.411876
1      31472   91807.379593
2      31473   78032.115735
3      31474   57940.199232
4      31475  125511.872032
...      ...            ...
31257  62728  109104.352011
31258  62729  112762.952154
31259  62730  180445.012207
31260  62731  190505.036551
31261  62732   82951.962971

[31262 rows x 2 columns]

In [18]:
# df[1] = round(df[1])
df[1] = df[1].astype(np.int64)

In [19]:
df.dtypes

0    int64
1    int64
dtype: object

In [20]:
df

           0       1
0      31471  128888
1      31472   91807
2      31473   78032
3      31474   57940
4      31475  125511
...      ...     ...
31257  62728  109104
31258  62729  112762
31259  62730  180445
31260  62731  190505
31261  62732   82951

[31262 rows x 2 columns]

In [21]:
df.to_csv('../submit/0928_submit_2.csv',index=False,header=None)