In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../submit/0929_submit.csv',header=None)

In [4]:
df

           0              1
0      31471  114616.703795
1      31472  117451.045361
2      31473   72581.894443
3      31474   57862.548497
4      31475   89747.245701
...      ...            ...
31257  62728  104675.752398
31258  62729   99212.335666
31259  62730  171962.455716
31260  62731  215520.953514
31261  62732   77576.322202

[31262 rows x 2 columns]

In [5]:
# df[1] = round(df[1])
df[1] = df[1].astype(np.int64)

In [6]:
df.dtypes

0    int64
1    int64
dtype: object

In [7]:
df

           0       1
0      31471  114616
1      31472  117451
2      31473   72581
3      31474   57862
4      31475   89747
...      ...     ...
31257  62728  104675
31258  62729   99212
31259  62730  171962
31260  62731  215520
31261  62732   77576

[31262 rows x 2 columns]

In [8]:
df.to_csv('../submit/0929_submit.csv',index=False,header=None)