In [30]:
import pandas as pd
import lightgbm as lgb
import numpy as np
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score,confusion_matrix
import optuna

### train

In [31]:
df = pd.read_csv('../data/train.csv')
ido_kdo = pd.read_csv('../processed_data/place_train.csv')

In [32]:
len(df),len(ido_kdo)

(31470, 31468)

In [33]:
ido_kdo.columns

Index(['Unnamed: 0', 'latitude', 'longitude'], dtype='object')

In [34]:
ido_kdo = ido_kdo.drop('Unnamed: 0',axis=1)

In [35]:
id_ = []
for i in df['id']:
    if i!=20232 and i!=20428:
        id_.append(i)

In [36]:
ido_kdo['id'] = id_

In [37]:
ido_kdo

        latitude   longitude     id
0      35.748456  139.728800      1
1      35.662885  139.778627      2
2      35.675153  139.666255      3
3      35.700170  139.648465      4
4      35.766431  139.872321      5
...          ...         ...    ...
31463  35.782103  139.677100  31466
31464  35.648356  139.668082  31467
31465  35.673436  139.830096  31468
31466  35.703700  139.668807  31469
31467  35.741599  139.691776  31470

[31468 rows x 3 columns]

In [39]:
ido_kdo.to_csv('../processed_data/place_train.csv',index=False)

### test

In [40]:
df = pd.read_csv('../data/test.csv')
ido_kdo = pd.read_csv('../processed_data/place_test.csv')

In [41]:
len(df),len(ido_kdo)

(31262, 31262)

In [42]:
ido_kdo = ido_kdo.drop('Unnamed: 0',axis=1)

In [43]:
id_ = []
for i in df['id']:
    id_.append(i)

In [44]:
ido_kdo['id'] = id_

In [45]:
ido_kdo

        latitude   longitude     id
0      35.617720  139.652763  31471
1      35.617776  139.672774  31472
2      35.742006  139.709040  31473
3      35.675001  139.657326  31474
4      35.687855  139.652224  31475
...          ...         ...    ...
31257  35.742059  139.718584  62728
31258  35.693369  139.777349  62729
31259  35.728150  139.667420  62730
31260  35.686153  139.736463  62731
31261  35.583678  139.707093  62732

[31262 rows x 3 columns]

In [46]:
ido_kdo.to_csv('../processed_data/place_test.csv',index=False)