In [43]:
import glob
import os
import re
import sys
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import lightgbm as lgb

warnings.filterwarnings('ignore')

In [44]:
df = pd.read_csv('../processed_data/train_v12.csv')
pred = pd.read_csv('../submit/train_diff.csv',header=None)

In [45]:
pred.columns = ['id','pred']
pred

          id    pred
0          1   79850
1          2   69568
2          3  110080
3          4  161455
4          5   70402
...      ...     ...
31461  31466   76336
31462  31467   56584
31463  31468  128067
31464  31469   99193
31465  31470   77583

[31466 rows x 2 columns]

In [46]:
df = pd.merge(df,pred,on='id')

In [51]:
df.loc[:,['y','pred']]

            y    pred
0       75000   79850
1       76000   69568
2      110000  110080
3      150000  161455
4       74000   70402
...       ...     ...
31461   80000   76336
31462   54500   56584
31463  125000  128067
31464   98000   99193
31465   81000   77583

[31466 rows x 2 columns]

In [52]:
hoge = 0
for i in range(len(df)):
    if abs(df.loc[i,'y'] - df.loc[i,'pred'])>50000:
        hoge += 1
        print(df.loc[i,['id','23ku','y','pred','high_price_flag']])
        print()

id                    189
23ku                   港区
y                  280000
pred               210771
high_price_flag         0
Name: 188, dtype: object

id                    275
23ku                  品川区
y                  650000
pred               591840
high_price_flag         1
Name: 274, dtype: object

id                   1296
23ku                  品川区
y                  550000
pred               499477
high_price_flag         1
Name: 1295, dtype: object

id                    1502
23ku                    港区
y                  1200000
pred               1107639
high_price_flag          1
Name: 1501, dtype: object

id                    1772
23ku                   大田区
y                  1450000
pred               1114779
high_price_flag          1
Name: 1771, dtype: object

id                   1860
23ku                  新宿区
y                  219000
pred               168878
high_price_flag         0
Name: 1859, dtype: object

id                   2163
23ku                  渋谷区
y                  400000
pred               480454
high_price_flag         1
Name: 2162, dtype: object

id                   3562
23ku                  渋谷区
y                  728000
pred               630067
high_price_flag         1
Name: 3561, dtype: object

id                   3570
23ku                   港区
y                  134000
pred               188315
high_price_flag         0
Name: 3569, dtype: object

id                   3741
23ku                   港区
y                  530000
pred               589295
high_price_flag         1
Name: 3740, dtype: object

id                   4821
23ku                  品川区
y                  720000
pred               609069
high_price_flag         1
Name: 4820, dtype: object

id                   4837
23ku                  豊島区
y                  245000
pred               192186
high_price_flag         0
Name: 4836, dtype: object

id                   5257
23ku                   港区
y                  340000
pred               251996
high_price_flag         0
Name: 5255, dtype: object

id                   5600
23ku                   港区
y                  950000
pred               842431
high_price_flag         1
Name: 5598, dtype: object

id                   5613
23ku                  渋谷区
y                  700000
pred               589625
high_price_flag         1
Name: 5611, dtype: object

id                    5776
23ku                    港区
y                  1203500
pred                295942
high_price_flag          1
Name: 5774, dtype: object

id                   6388
23ku                   港区
y                  680000
pred               594878
high_price_flag         1
Name: 6386, dtype: object

id                   6564
23ku                 千代田区
y                  700000
pred               611503
high_price_flag         1
Name: 6562, dtype: object

id                   6973
23ku                 千代田区
y                  530000
pred               583467
high_price_flag         1
Name: 6971, dtype: object

id                   7657
23ku                  台東区
y                  550000
pred               455091
high_price_flag         1
Name: 7655, dtype: object

id                    8707
23ku                    港区
y                  1390000
pred               1242193
high_price_flag          1
Name: 8705, dtype: object

id                    9009
23ku                    港区
y                  1300000
pred               1204900
high_price_flag          1
Name: 9007, dtype: object

id                   9038
23ku                  豊島区
y                  235000
pred               176319
high_price_flag         0
Name: 9036, dtype: object

id                   9238
23ku                 千代田区
y                  690000
pred               755863
high_price_flag         1
Name: 9236, dtype: object

id                   9544
23ku                  渋谷区
y                  590000
pred               494654
high_price_flag         1
Name: 9542, dtype: object

id                  10335
23ku                 世田谷区
y                  690000
pred               585209
high_price_flag         1
Name: 10333, dtype: object

id                  10836
23ku                  渋谷区
y                  380000
pred               326335
high_price_flag         0
Name: 10834, dtype: object

id                   11368
23ku                   新宿区
y                  1100000
pred                988989
high_price_flag          1
Name: 11366, dtype: object

id                  11659
23ku                  中央区
y                  253000
pred               189176
high_price_flag         0
Name: 11657, dtype: object

id                   11959
23ku                   渋谷区
y                  1120000
pred               1212643
high_price_flag          1
Name: 11957, dtype: object

id                  12483
23ku                  目黒区
y                  290000
pred               232900
high_price_flag         0
Name: 12481, dtype: object

id                  12572
23ku                   港区
y                  520000
pred               619614
high_price_flag         1
Name: 12570, dtype: object

id                  12749
23ku                   港区
y                  129500
pred               188551
high_price_flag         0
Name: 12747, dtype: object

id                  12832
23ku                  渋谷区
y                  278000
pred               211276
high_price_flag         0
Name: 12830, dtype: object

id                  12833
23ku                 千代田区
y                  540000
pred               649153
high_price_flag         1
Name: 12831, dtype: object

id                  12975
23ku                  新宿区
y                  221000
pred               168378
high_price_flag         0
Name: 12973, dtype: object

id                  12979
23ku                  目黒区
y                  340000
pred               263170
high_price_flag         0
Name: 12977, dtype: object

id                  13499
23ku                   港区
y                  950000
pred               871014
high_price_flag         1
Name: 13497, dtype: object

id                  13786
23ku                   北区
y                  174500
pred               107551
high_price_flag         0
Name: 13784, dtype: object

id                  15403
23ku                  目黒区
y                  345000
pred               261873
high_price_flag         0
Name: 15401, dtype: object

id                  15484
23ku                  渋谷区
y                  270000
pred               185750
high_price_flag         0
Name: 15482, dtype: object

id                  16521
23ku                   港区
y                  880000
pred               717124
high_price_flag         1
Name: 16519, dtype: object

id                   16848
23ku                   渋谷区
y                  1120000
pred               1222804
high_price_flag          1
Name: 16846, dtype: object

id                  17400
23ku                   港区
y                  850000
pred               729572
high_price_flag         1
Name: 17398, dtype: object

id                  17459
23ku                 千代田区
y                  650000
pred               591489
high_price_flag         1
Name: 17457, dtype: object

id                  17564
23ku                   港区
y                  840000
pred               918615
high_price_flag         1
Name: 17562, dtype: object

id                  17659
23ku                   港区
y                  650000
pred               599137
high_price_flag         1
Name: 17657, dtype: object

id                  18784
23ku                   港区
y                  730000
pred               782566
high_price_flag         1
Name: 18782, dtype: object

id                  18964
23ku                  新宿区
y                  420000
pred               351770
high_price_flag         1
Name: 18962, dtype: object

id                  20242
23ku                   港区
y                  920000
pred               832818
high_price_flag         1
Name: 20239, dtype: object

id                   20644
23ku                    港区
y                  1800000
pred               1564805
high_price_flag          1
Name: 20640, dtype: object

id                   20990
23ku                    港区
y                  1300000
pred               1156345
high_price_flag          1
Name: 20985, dtype: object

id                  21220
23ku                  台東区
y                  182000
pred               122011
high_price_flag         0
Name: 21215, dtype: object

id                  21738
23ku                  豊島区
y                  157000
pred                98125
high_price_flag         0
Name: 21733, dtype: object

id                  21820
23ku                  渋谷区
y                  600000
pred               652461
high_price_flag         1
Name: 21815, dtype: object

id                  23500
23ku                   港区
y                  400000
pred               459362
high_price_flag         1
Name: 23495, dtype: object

id                  24009
23ku                   港区
y                  600000
pred               701518
high_price_flag         1
Name: 24004, dtype: object

id                  24185
23ku                  大田区
y                  154000
pred                94807
high_price_flag         0
Name: 24180, dtype: object

id                  25272
23ku                  目黒区
y                  313200
pred               242251
high_price_flag         0
Name: 25267, dtype: object

id                  25558
23ku                 千代田区
y                  400000
pred               341860
high_price_flag         1
Name: 25553, dtype: object

id                  26868
23ku                  台東区
y                  550000
pred               470586
high_price_flag         1
Name: 26863, dtype: object

id                  27570
23ku                   港区
y                  900000
pred               846464
high_price_flag         1
Name: 27565, dtype: object

id                  27603
23ku                 千代田区
y                  980000
pred               898447
high_price_flag         1
Name: 27598, dtype: object

id                  28773
23ku                  目黒区
y                  410000
pred               358851
high_price_flag         1
Name: 28768, dtype: object

id                   30540
23ku                   渋谷区
y                  1660000
pred               1435143
high_price_flag          1
Name: 30535, dtype: object

id                  30702
23ku                  目黒区
y                  438000
pred               369137
high_price_flag         1
Name: 30697, dtype: object

id                  30958
23ku                 千代田区
y                  418000
pred               331007
high_price_flag         1
Name: 30953, dtype: object

id                  31116
23ku                   港区
y                  598000
pred               654302
high_price_flag         1
Name: 31111, dtype: object

In [48]:
df.iloc[5774,:18]

id                                                              5776
y                                                            1203500
location                                                  東京都港区新橋４丁目
access                           山手線\t新橋駅\t徒歩2分\t\t都営大江戸線\t汐留駅\t徒歩2分
layout                                                            1K
age                                                           12年5ヶ月
direction                                                         北西
area                                                         20.53m2
floor                                                             10
bath_toilet         専用バス／\t専用トイレ／\tバス・トイレ別／\tシャワー／\t浴室乾燥機\t／\t温水洗浄便座
kitchen                              ガスコンロ／\tコンロ2口／\tシステムキッチン\t／\t給湯
broadcast_com               インターネット対応／\t光ファイバー／\tCATV／\tインターネット使用料無料
facilities         エアコン付\tシューズボックス／\tバルコニー／\tフローリング／\t24時間換気システム\...
parking                                   駐輪場\t空有\t駐車場\t無\tバイク置き場\t無
enviroment         【スーパー】 432m\t【スーパー】 570m\t【コンビニ】 43m\t【コンビニ】 2...
structure                                               RC（鉄筋コンクリート）
contract_period                                                 5776
log_y                                                        14.0007
Name: 5774, dtype: object

In [49]:
hoge

68

In [50]:
df['23ku'].value_counts()

世田谷区    3023
足立区     2191
大田区     2000
杉並区     1769
練馬区     1752
江戸川区    1702
板橋区     1623
港区      1512
江東区     1508
中央区     1279
品川区     1272
豊島区     1271
新宿区     1223
葛飾区     1212
中野区     1211
北区      1045
目黒区     1022
墨田区     1010
渋谷区      985
台東区      932
文京区      892
荒川区      575
千代田区     457
Name: 23ku, dtype: int64